{% extends 'rating/base.html' %}

{% block content %}

<div class="container">
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <!-- creating the forms manually -->
        <label for="username">Username</label>
        <input type="text" name="username"><br>

        <label for="password">Password</label>
        <input type="password" name="password"><br>

        <input type="submit" value="Login" class="btn btn-md btn-primary">
        
    </form>
</div>

{% endblock %}